$kitten-color: #634b66;
$dessert-color: #e5ffde;

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: $kitten-color;
}

.right {
  right: 0;
  background-color: $dessert-color;
}

.centered {
  position: absolute;
  left: 12%;
  text-align: center;
  width: 75%;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}
