<header class="main-header">
  <img src="assets/under-construction.gif" />
  <nav>
    <h1>Mark and Aaron's Monster Truck Diary</h1>
  </nav>
  <img src="assets/under-construction.gif" />
</header>

<router-outlet></router-outlet>

<footer class="main-footer">
  <div class="center">
    <span class="digit">0</span>
    <span class="digit">1</span>
    <span class="digit">1</span>
    <span class="digit">6</span>
    <span class="digit">3</span>
    <span class="digit">1</span>
  </div>
  <div class="center message">Monster Truck Fanatics out there!</div>
</footer>
