<header>
  <img src="assets/under-construction.gif" />
  <nav>
    <h1><marquee>Mark and Aaron's Monster Truck Diary</marquee></h1>
  </nav>
  <img src="assets/under-construction.gif" />
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div>
    <span class="digit">0</span>
    <span class="digit">1</span>
    <span class="digit">1</span>
    <span class="digit">6</span>
    <span class="digit">3</span>
    <span class="digit">1</span>
  </div>
  <div>Monster Truck Fanatics out there!</div>
</footer>
