<article>
  <div class="card-container">
    <div
      class="image"
      [style.background-image]="'url(' + truck.imageUrl + ')'"
    ></div>
    <div class="info-section">
      <h5>{{ truck.name }}</h5>
      Age: {{ truck.age }}<br />
      Times Seen: {{ truck.timesSeen }}<br />
      Average Event Score: {{ truck.averageEventScore }}<br />
      {{
        truck.receivedHighFiveFromDrive
          ? "I have high fived this driver"
          : "This driver has not high fived me"
      }}<br />
    </div>
  </div>
  <footer>
    <button class="contrast" (click)="nextTruck.emit()">Next!</button>
  </footer>
</article>
