<article>
  <div class="card-container">
    <div
      class="image"
      [style.background-image]="'url(' + kitten.imageUrl + ')'"
    ></div>
    <div class="info-section">
      <h5>{{ kitten.name }}</h5>
      Cuteness: {{ kitten.cuteness }}<br />
      Age: {{ kitten.age }}<br />
      Favorite Toy: {{ kitten.favoriteToy }}<br />
      Fixed: {{ kitten.spayedOrNeutered }}<br />
    </div>
  </div>
  <footer>
    <button class="contrast" (click)="vote.emit(kitten)">Vote Kitten!</button>
  </footer>
</article>
