$kitten-color: #634b66;
$dessert-color: #e5ffde;

// .split {
//   height: 100%;
//   width: 50%;
//   position: fixed;
//   z-index: 1;
//   overflow-x: hidden;
//   padding-top: 20px;
// }

.split-container {
  display: flex;
  justify-content: center;
  height: 90vh;
}

.left {
  background-color: $kitten-color;
  flex-grow: 1;
  padding: 3rem;
  min-width: 50%;
}

.right {
  background-color: $dessert-color;
  flex-grow: 1;
  padding: 3rem;
  min-width: 50%;
}

// .centered {
//   position: absolute;
//   left: 12%;
//   text-align: center;
//   width: 75%;
// }

// .centered img {
//   width: 150px;
//   border-radius: 50%;
// }
