<div class="split-container">
  <div class="left">
    <div class="centered">
      <app-common-card-two
        *ngIf="kitten$ | async as kitten"
        [name]="kitten.name"
        [imageUrl]="kitten.imageUrl"
        [footerTemplate]="kittenFooter"
        (vote)="onVote(kitten)"
      >
        Cuteness: {{ kitten.cuteness }}<br />
        Age: {{ kitten.age }}<br />
        Favorite Toy: {{ kitten.favoriteToy }}<br />
        Fixed: {{ kitten.spayedOrNeutered }}<br />

        <ng-template #kittenFooter>
          <span flavorText>Do you think this cat is cute?</span>
          <button class="secondary" (click)="onVote(kitten)">
            Vote for Kittens!
          </button>
        </ng-template>
      </app-common-card-two>
    </div>
  </div>

  <div class="right">
    <div class="centered">
      <app-common-card-two
        *ngIf="dessert$ | async as dessert"
        [name]="dessert.name"
        [imageUrl]="dessert.imageUrl"
        [footerTemplate]="dessertFooter"
        (vote)="onVote(dessert)"
      >
        Calories: {{ dessert.calories }}<br />
        Age: {{ dessert.age }}<br />
        Contains {{ dessert.hasChocolate ? "" : "no " }}chocolate<br />
        Stars: {{ dessert.stars }}<br />

        <ng-template #dessertFooter>
          <span flavorText>This looks delicious!</span>
          <button class="secondary" (click)="onVote(dessert)">
            Vote for Desserts!
          </button>
        </ng-template>
      </app-common-card-two>
    </div>
  </div>
</div>
